image: "debian:bookworm-slim"

before_script:
  - apt-get update -y
  - apt-get install -y make git python3-pip python3-venv python3-yaml texlive-metapost libharfbuzz-bin
  - python3 -m venv .venv
  - source .venv/bin/activate
  - pip3 install -r requirements.txt

stages:
  - build
  - test
  - deploy
  - release

build:
  stage: build
  script:
    - make build release
  artifacts:
    expire_in: 1000 yrs
    paths:
    - fonts/

test:
  stage: test
  script:
    - ruff check .
    - make test
  artifacts:
    expire_in: 1000 yrs
    paths:
    - proofs/

pages:
  stage: deploy
  script:
    - mkdir public
    - cp -rf fonts tests specimen proofs public
  artifacts:
    expire_in: 1000 yrs
    paths:
      - public  # instruct GitLab to keep the public folder
  only:
    - master

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  only:
    - tags
  before_script:
    - echo "Pass. Just overriding"
  script:
    - echo "Running release_job"
  release:
    name: 'Release $CI_COMMIT_TAG of $CI_PROJECT_NAME'
    description: 'Release $CI_COMMIT_TAG' # Need to replace with 'CHANGELOG.md'
    # tag_name is a mandatory field and can not be an empty string
    tag_name: '$CI_COMMIT_TAG'
    ref: $CI_COMMIT_TAG
    assets:
      links:
        - name: 'Malini Variable font - Malini.tar.gz'
          url: 'https://smc.gitlab.io/fonts/Malini/fonts/Malini.tar.gz'
        - name: 'Malini Variable font - Malini.zip'
          url: 'https://smc.gitlab.io/fonts/Malini/fonts/Malini.zip'
