@font-face {
  font-family: "Malini";
  src: url(../fonts/Malini/webfonts/Malini-VF.woff2) format("woff2-variations"),
    url(../fonts/Malini/otf-variable/Malini-VF.otf) format("opentype-variations"),
    url(../fonts/Malini/otf/Malini-Regular.otf) format("opentype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-optical-sizing: auto;
  font-style: oblique 0deg 12deg;
  unicode-range: U+0000, U+0020-007E, U+00A0-00A3, U+00A5-00B1,
  U+00B4-00B8, U+00BA-00BB, U+00BF-0113, U+0116-012B, U+012E-0133,
  U+0135-0137, U+0139-013E, U+0141-0148, U+014A-014D, U+0150-0161,
  U+0164-0165, U+0168-017E, U+01CD-01CE, U+01F0, U+0218-021B, U+0237,
  U+02BB, U+02C6-02C7, U+02D8-02DD, U+0300-0304, U+0306-0308,
  U+030A-030C, U+0312, U+0326-0328, U+03A9, U+03C0, U+0951-0952,
  U+0D00-0D0C, U+0D0E-0D10, U+0D12-0D44, U+0D46-0D48, U+0D4A-0D4F,
  U+0D54-0D63, U+0D66-0D7F, U+1E80-1E85, U+1E9E, U+1EF2-1EF3,
  U+200C-200D, U+2013-2014, U+2018-201A, U+201C-201E, U+2022, U+2026,
  U+2039-203A, U+2044, U+20A9, U+20AC, U+20B9, U+2122, U+2212, U+25CC,
  U+2E42;
}



/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.malini-aalt {
    --malini-aalt: "aalt" on;
}

.malini-onum {
    --malini-onum: "onum";
}

.malini-opsz {
    font-optical-sizing: auto;
}

.malini-no-opsz {
    font-optical-sizing: none !important;
}


.malini-liga-off {
    --malini-liga: "liga" 0;
}

.malini-salt {
    --malini-salt: "salt" 2;
}

.malini-sups {
    --malini-sups: "sups" on;
}

@supports (font-variant-position: super) {
    .malini-sups {
        --malini-sups: "____";
        font-variant-position: super;
    }
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.malini-aalt,
.malini-liga,
.malini-liga-off,
.malini-onum,
.malini-salt,
.malini-sups {
    font-feature-settings: var(--malini-aalt), var(--malini-onum),
        var(--malini-salt), var(--malini-sups), var(--malini-liga);
}

/* Variable instances */
.malini-regular-thin {
    font-variation-settings: "wght" 100, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-oblique-thin {
    font-variation-settings: "wght" 100, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-condensed-thin {
    font-variation-settings: "wght" 100, "wdth" 75, "slnt" 0, "opsz" 20;
}

.malini-regular-expanded-thin {
    font-variation-settings: "wght" 100, "wdth" 125, "slnt" 0, "opsz" 20;
}

.malini-regular-extralight {
    font-variation-settings: "wght" 200, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-extralight-oblique {
    font-variation-settings: "wght" 200, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-light {
    font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-light-oblique {
    font-variation-settings: "wght" 300, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-condensed-light {
    font-variation-settings: "wght" 300, "wdth" 75, "slnt" 0, "opsz" 20;
}

.malini-regular-expanded-light {
    font-variation-settings: "wght" 300, "wdth" 125, "slnt" 0, "opsz" 20;
}

.malini-regular-regular {
    font-variation-settings: "wght" 400, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-oblique {
    font-variation-settings: "wght" 400, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-condensed {
    font-variation-settings: "wght" 400, "wdth" 75, "slnt" 0, "opsz" 20;
}

.malini-regular-semicondensed {
    font-variation-settings: "wght" 400, "wdth" 87.501, "slnt" 0, "opsz" 20;
}

.malini-regular-condensed-oblique {
    font-variation-settings: "wght" 400, "wdth" 75, "slnt" -12, "opsz" 20;
}

.malini-regular-expanded {
    font-variation-settings: "wght" 400, "wdth" 125, "slnt" 0, "opsz" 20;
}

.malini-regular-semiexpanded {
    font-variation-settings: "wght" 400, "wdth" 112.501, "slnt" 0, "opsz" 20;
}

.malini-regular-medium {
    font-variation-settings: "wght" 500, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-medium-oblique {
    font-variation-settings: "wght" 500, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-condensed-medium {
    font-variation-settings: "wght" 500, "wdth" 75, "slnt" 0, "opsz" 20;
}

.malini-regular-expanded-medium {
    font-variation-settings: "wght" 500, "wdth" 125, "slnt" 0, "opsz" 20;
}

.malini-regular-semibold {
    font-variation-settings: "wght" 600, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-semibold-oblique {
    font-variation-settings: "wght" 600, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-bold {
    font-variation-settings: "wght" 700, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-bold-oblique {
    font-variation-settings: "wght" 700, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-condensed-bold {
    font-variation-settings: "wght" 700, "wdth" 75, "slnt" 0, "opsz" 20;
}

.malini-regular-semicondensed-bold {
    font-variation-settings: "wght" 700, "wdth" 87.501, "slnt" 0, "opsz" 20;
}

.malini-regular-expanded-bold {
    font-variation-settings: "wght" 700, "wdth" 125, "slnt" 0, "opsz" 20;
}

.malini-regular-extrabold {
    font-variation-settings: "wght" 800, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-extrabold-oblique {
    font-variation-settings: "wght" 800, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-black {
    font-variation-settings: "wght" 900, "wdth" 100, "slnt" 0, "opsz" 20;
}

.malini-regular-black-oblique {
    font-variation-settings: "wght" 900, "wdth" 100, "slnt" -12, "opsz" 20;
}

.malini-regular-text {
    font-variation-settings: "wght" 400, "wdth" 100, "slnt" 0, "opsz" 10;
}

.malini-regular-display {
    font-variation-settings: "wght" 400, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-thin-display {
    font-variation-settings: "wght" 100, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-extralight-display {
    font-variation-settings: "wght" 200, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-light-display {
    font-variation-settings: "wght" 300, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-medium-display {
    font-variation-settings: "wght" 500, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-semibold-display {
    font-variation-settings: "wght" 500, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-bold-display {
    font-variation-settings: "wght" 700, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-extrabold-display {
    font-variation-settings: "wght" 800, "wdth" 100, "slnt" 0, "opsz" 96;
}

.malini-regular-black-display {
    font-variation-settings: "wght" 800, "wdth" 100, "slnt" 0, "opsz" 96;
}