@import "https://unpkg.com/open-props" layer(base);
@import "https://unpkg.com/open-props/normalize.min.css" layer(base);
@import url(./grid.css) layer(grid);
@import url(./animation.css) layer(animation);
@import url(./typography.css) layer(typography);

@layer specimen {
  :root {
    --malini-aalt: "aalt" off;
    --malini-onum: "onum" off;
    --malini-salt: "salt" off;
    --malini-sups: "sups" off;
    --malini-liga: "liga";

    --playground-font-size: 16pt;
    --playground-font-weight: 400;
    --playground-font-width: 100%;
    --playground-font-slant: 0;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
    /* 2 */
  }

  html {
    -webkit-touch-callout: none;
    -webkit-tap-highcolor: transparent;
    -webkit-tap-highcolor: transparent;
    height: 100%;
  }

  body {
    font-size: 100%;
    color: var(--text-1);
    width: var(--page-width);
    margin: 0;
    background-image: var(--body-background-image);
    background-color: var(--surface-1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    accent-color: var(--brand);
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    height: 100%;
    justify-items: start;

    margin: 0;
  }

  header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--surface-1);
    /* border-bottom: 1px solid var(--border-color); */
    box-shadow: var(--shadow-2);
    z-index: var(--layer-2);
  }

  input {
    background-color: transparent;
  }

  .navbar {
    font-size: 1.5rem;
    padding: 0.5rem;
    align-items: center;
    gap: var(--size-2);
  }

  .page {
    --grid-gap: var(--size-4);
    width: 100%;
    margin: var(--size-fluid-3) 0;
    padding: var(--size-fluid-1);
    overflow-x: hidden;
    align-content: space-between;
    color: var(--text-1);
  }

  .page.master {
    min-height: 50vh;
    padding: 0;
    margin: 0;
    place-content: center;
    color: var(--brand);
  }


  .content {
    width: 100%;
    container-type: inline-size;
  }

  .content p {
    max-inline-size: 100%;
  }

  .playground {
    max-inline-size: 100%;
    font-style: oblique var(--playground-font-slant);
    font-size: var(--playground-font-size);
    font-weight: var(--playground-font-weight);
    font-stretch: var(--playground-font-width);
  }

  .meta {
    text-align: start;
  }

  .center {
    place-content: center;
    text-align: center;
  }

  .meta-title {
    text-align: start;
    font-weight: 700;
    line-height: 1em;
    margin: 1em 0;
    font-size: var(--font-size-2);
    color: var(--brand);
    font-family: var(--font-sans);
  }

  .meta-desc {
    text-align: start;
    font-weight: 400;
    line-height: 1.25;
    font-size: var(--font-size-1);
    color: var(--title-color);
    text-wrap: pretty;
    color: var(--brand);
    font-family: var(--font-sans);
  }

  .text-center {
    text-align: center;
  }

  .text-start {
    text-align: start;
  }

  .text-end {
    text-align: end;
  }

  p {
    margin: 0;
    text-align: start;
  }

  .text-indent {
    text-indent: 2ch;
  }

  .text-justify {
    text-align: justify;
    text-justify: inter-word;
  }

  p.nowrap + p {
    margin-top: 0.2em;
  }

  p + p {
    margin-top: 0.75em;
  }

  p + .meta-desc {
    margin-top: 0.75em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .languages {
    column-count: 7;
    font-size: var(--font-size-1);
    column-gap: 36px;
  }

  code {
    background: var(--surface-2);
    border: var(--border-size-1) solid var(--border-color);
    font-family: var(--font-mono);
    font-size: var(--font-size-2);
  }

  .card {
    backdrop-filter: blur(32px) saturate(60%);
    -webkit-backdrop-filter: blur(32px) saturate(60%);
    /* background-color: var(--surface-2); */
    border-radius: 12px;
    /* border: var(--border-size-1) solid var(--border-color); */
    box-shadow: var(--shadow-3);
    padding: var(--size-fluid-2);
  }

  footer {
    border-top: var(--border-size-1) solid var(--border-color);
    padding: var(--size-4);
  }



  html {
    /* light */
    --brand-light: #4B32C3;
    --text-1-light: #667085;
    --surface-1-light: #F2F4F7;
    --surface-2-light: #fcfcfd;
    --body-background-color-light: var(--gray-0);
    --body-background-image-light: url("../images/bg-light.png");
    --text-color-light: #667085;
    --meta-text-color-light: var(--orange-7);
    --border-color-light: #E4E7EC;

    /* dark */
    --brand-dark: var(--blue-6);
    --text-1-dark: var(--gray-0);
    --surface-1-dark: #101828;
    --surface-2-dark: #1d2939;
    --body-background-image-dark: url("../images/bg-dark.svg");
    --text-color-dark: var(--gray-0);
    --border-color-dark: #475467;
    --meta-text-color-dark: var(--blue-4);
  }

  :root {
    color-scheme: light;
    /* set defaults */
    --brand: var(--brand-light);
    --text-1-light: var(--text-1-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);

    --meta-text-color: var(--meta-text-color-light);
    --border-color: var(--border-color-light);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --brand: var(--brand-dark);
      --text-1: var(--text-1-dark);
      --surface-1: var(--surface-1-dark);
      --surface-2: var(--surface-2-dark);
      --body-background-image: var(--body-background-image-dark);

      --meta-text-color: var(--meta-text-color-dark);
      --border-color: var(--border-color-dark);
    }
  }

  [color-scheme="light"] {
    color-scheme: light;
    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --body-background-image: var(--body-background-image-light);
    --meta-text-color: var(--meta-text-color-light);
  }

  [color-scheme="dark"] {
    color-scheme: dark;
    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --body-background-image: var(--body-background-image-dark);
    --meta-text-color: var(--meta-text-color-dark);
    --border-color: var(--gray-3);
  }
}
